<div class="container mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Search.." aria-label="Enter Search.." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Company Name</th>
             <th scope="col">Phone Nuber</th>
             <th scope="col">DELETE</th>
             <th scope="col">UPDATE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ='let us of readData'>
            <td>{{us.id}}</td>
            <td>{{us.Name}}</td>
            <td>{{us.Surname}}</td>
            <td>{{us.Company}}</td>
            <td>{{us.Phone_Number}}</td>
            <td><button class="btn btn-danger">DELETE</button></td>
            <td><button class="btn btn-success">UPDATE</button></td>
          </tr>
   
      
        </tbody>
      </table>
</div>
